body{
margin: 0px;
padding: 0px;
background-color: #000;
}
ul{
list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
}
*{
padding: 0px;
margin: 0px;
}
.containerFull{
max-width: 100%;
margin-right: auto;
margin-left: auto;
padding: 20px;
}
.bg-img{
background:url(../images/me.png) ;
background-color: #111;
background-blend-mode: screen;
background-size:90% auto;
background-position: 360% 39%;
background-attachment: scroll;
background-repeat: no-repeat;
height: 800px;
-webkit-clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
}
.top_nav{
display:flex;
justify-content: center;
align-items: stretch;
padding: 10px;
}
.navUl {
list-style: none;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
justify-content: space-around;
}
.top_nav>ul>li{
padding: 8px;
margin: 5px 15px 5px 15px;
color: white;
font-weight: bold;
text-align: center;
cursor: pointer;
}
.top_nav>ul>li:hover{
background-color: RGBA(100,100,100,0.5);
border-radius: 14%;
}
.myName{
margin: 190px auto 0px auto;
padding-left: 8.0rem;
}
@import url('https://fonts.googleapis.com/css?family=Anton');
.myName>span:first-child{
font-size: 4.0rem;
font-family: 'Berkshire Swash', cursive;
color: #ffffff;
text-shadow: rgba(255, 255, 255, 0.15) 0px 5px 35px;
letter-spacing: 0.02rem;
}
.fullName{
font-size:7.9rem;
font-family: 'Berkshire Swash', cursive;
font-weight: 500;
letter-spacing: 0.06rem;
color: rgb(255, 255, 255);
}
.myName>p{
color: white;
font-family: 'Kaushan Script', cursive;
font-size: 1.4rem;
}
.myName>p>a{
color: #f36932;
font-size: 1.7rem;
padding: 2px;
}
.myResume{
	padding-top: 14px;
}
.btn-outline-danger {
  border-color: #dc3545;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

.btn-outline-danger:hover {
    color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.listTitle{
text-align: center ;
color: #ffffff;
}
.listTitle span{
display: inline-block;
padding: 10px;
font-size: 1.6rem;
border: 1px dotted grey;
}
.containerFull.abtContainer{
background-color: #000000;
}
.abtMeContainer{
display: flex;
flex-flow: row-reverse;
padding: 50px;
align-items: center;
}
.abtItem1{
flex: 0 0 50%;
max-width: 50%;
text-align:center;
/*border: solid 1px green;*/
align-items: center;
}
.abtItem2{
padding: 50px;
color: #ffffff;
font-family: 'Indie Flower', cursive;
font-size: 1.5rem;
letter-spacing: 0.04rem;
line-height: normal;
}
.abtItem2.imag{
text-align:right;
}
.skillConatainer{
background: linear-gradient(to right, #6460ce 0%, #19a9f4 100%);
height: auto;
-webkit-clip-path: polygon(100% 13%, 100% 100%, 0 100%, 0 0);
clip-path: polygon(100% 13%, 100% 100%, 0 100%, 0 0);
padding:150px 2px 250px 2px;
}
.progress {
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}


.progress-bar-striped {
  background-image:  linear-gradient(to bottom left, #ac5478 0%,  #804488 100%);
  background-size: 1rem 1rem;
}

.skillBox{
text-align: center;
color:#fff;
padding: 20px;
}
.skillSets div h2{
	font-family: 'Berkshire Swash', serif;
letter-spacing: 0.06rem;
font-weight: 200;
color: #fffff1;

}
.skillSets{
display: flex;
justify-content: space-between;
}

.skillContents{
	text-align:center;
}
.skillContents>ul{
padding: 20px;
}
.skillContents>ul>li{
	padding: 10px;
	margin: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2rem;
}
.softSkills{
	text-align: center;
}
.skillContents>ul li div{

}

.workConatainer{
background: linear-gradient(to right, #ac5478 0%,  #804488 100%);

position: relative;
top: -270px;
-webkit-clip-path: polygon(100% 13%, 100% 88%, 0 100%, 0 0);
clip-path: polygon(100% 13%, 100% 88%, 0 100%, 0 0);
padding:230px 0px 200px 0px;

}
.mySlides {display:none;}
.icons{
width:20px;
height: auto;
}

.icons:hover{
width:38px;
height: 38px;
}
.contContainer{
position: relative;
top: -115px;
}
.skillBox.contBox{
	margin-top:20px;
}
.contList{
	display: flex; flex-direction: row; justify-content: center;
}
.contList li{
	padding: 14px;
}
.foot{
	background-color:RGBA(100,100,100,0.2);
	font-size:12px; padding: 3px; 
	text-align: center;
	font-size: 0.9rem;
	  vertical-align: middle;
}